@using SharedTypes.Enums;
@model TaskViewModel

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">   
            <h2 class="text-primary">Edit Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="EstimatedTime"></label>
            <input asp-for="EstimatedTime" class="form-control" />
            <span asp-validation-for="EstimatedTime" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="TaskPriority" class="control-label"></label>
            <select asp-for="TaskPriority" class="form-control"
                    asp-items="Html.GetEnumSelectList<TaskPriority>()"></select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="TaskStatus" class="control-label"></label>
            <select asp-for="TaskStatus" class="form-control"
                    asp-items="Html.GetEnumSelectList<SharedTypes.Enums.TaskStatus>()"></select>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Task" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}